/* src/components/Contato.css */

/* Estilos do contêiner */
.contato-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 36px;
    background-color: #242424;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para o formulário */
  .form-contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Estilos dos campos */
  .campo {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  /* Estilo do botão */
  .btn-enviar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-enviar:hover {
    background-color: #45a049;
  }
  
  /* Estilo da mensagem de erro */
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  