/* src/components/SocialLinks.css */


.social-links {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 15px; /* Espaço entre os itens */
    width: 100%; /* 100% da largura da tela */
  }
  
  
  .botao__inst,
  .botao__face {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .iconinst, .iconface {
    width: 30px;
    height: 30px;
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
  }
  
  /* Efeito de hover */
  .botao__inst:hover, .botao__face:hover {
    opacity: 0.8;
  }
  